.portada {
    /* linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  */
    background-image: url("../../img/portada.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: rgb(173, 179, 184);
}
.container-text {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
}
