.portada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../img/portada.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: var(--text-color);
}
.container-text {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
}
.text-h1{
    color: var(--text-color);
    font-weight: bold;
}
.text-h1-hr{
    border: 2px solid var(--text-color)
}
.link-pokemones{
    display: flex;
    justify-content: flex-end;
}
.link-pokemones:hover{
    text-transform: uppercase;
}
.link-pokemones a{
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    padding: 30px;
}
.getInto{
    text-decoration: none;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 30px;
    margin: 30px;
    font-size: 18px;
}
.getInto:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}
