.blogxID-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-items: center;
    margin: 0 auto;
}
.publication-title {
    text-align: left;
    color: var(--main-color);
}
.publication-title-title{
    padding: 30px 100px;
}
.publication-body{
    color: var(--text-color);
    text-align: justify;
}
.publication-img{
    width: 100%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.publication-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.publication-hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px var(--text-color);
}
.publication-date-category{
    display: flex;
    justify-content: space-between;
}
.publication-date{
    color: var(--text-color);
    font-size: 15px;
}
.publication-category{
    color: var(--main-color);
    font-size: 15px;
}
.publication-return{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.button-return{
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
}
.button-return:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .blogxID-container{
        width: 90%;
    }
}