.container-noticia{
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
}
.noticia-title {
    padding: 10px 0;
    color: cadetblue;
    font-weight: 500;
    text-align: left;
}
.noticia-resumen{
    color: rgb(185, 185, 185);
    text-align: left;
}
.noticia-body {
    border-top: 1px solid rgb(185, 185, 185);
    padding: 10px;
    color: rgb(185, 185, 185);
    text-align: justify;
    height: 150px;
    overflow: hidden;
}
.noticia-date-category {
    display: flex;
    justify-content: space-between;
}
.noticia-date {
    color: rgb(185, 185, 185);
    font-size: 12px;
}
.noticia-category {
    color: cadetblue;
    font-size: 12px;
}
.noticia-buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    
}
.link-blog{
    
    font-size: 12px;
    color: white;
}