.container-noticia{
    width: 250px;
    margin: 0 auto;
    
    border-radius: 20px;
    margin-bottom: 20px;
}
.noticia-title {
    padding: 10px 0;
    color: cadetblue;
    font-weight: 500;
}
.noticia-body {
    border-top: 1px solid rgb(185, 185, 185);
    padding: 10px;
    text-align: left;
}
.noticia-date {
    color: rgb(185, 185, 185);
    font-size: 15px;
}
.noticia-buttons {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
