.container-create {
    display: flex;
}

.create-body{
    width: 77%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
}

.create-varios{
    width: 19%;
    padding: 1%;
    border: 1px solid rgb(165, 165, 165);
}
.file{
    display: flex;
}
.quill{
    background-color: white;
}